<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Job board HTML-5 Template </title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">
	
	<!-- CSS here -->
		<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/assets/css/slicknav.css">
		<link rel="stylesheet" href="/static/assets/css/price_rangs.css">
		<link rel="stylesheet" href="/static/assets/css/animate.min.css">
		<link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/static/assets/css/themify-icons.css">
		<link rel="stylesheet" href="/static/assets/css/slick.css">
		<link rel="stylesheet" href="/static/assets/css/nice-select.css">
		<link rel="stylesheet" href="/static/assets/css/style.css">
		<link rel="stylesheet" href="/static/assets/css/responsive.css">
</head>

<body>
	
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/static/assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="/static/assets/img/logo/logo.png" alt=""></a>
                            </div>  
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                          <li><a href="/job_listing/">Find a Jobs </a></li>
                                          <li><a href="/about/">About</a></li>
                                          <li><a href="/">Page</a>
                                              <ul class="submenu">
                                                  <li><a href="/blog/">Blog</a></li>
                                                  <li><a href="/single-blog/">Blog Details</a></li>
                                                  <li><a href="/elements/">Elements</a></li>
                                                 
                                              </ul>
                                          </li>
                                          <li><a href="/contact/">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>          
                                <!-- Header-btn -->
                                <div class="header-btn d-none f-right d-lg-block">
                                     <a href="/" class="btn head-btn1">Logout</a>
                                    <a href="/login/" class="btn head-btn2">Login</a>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
       </div>
        <!-- Header End -->
    </header>
	<!-- Hero Area Start-->
	<div class="slider-area ">
		<div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/static/assets/img/hero/about.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>Our Element</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Area End -->
	<!-- Start Sample Area -->
	<section class="sample-text-area">
		<div class="container box_1170">
			<h3 class="text-heading">Text Sample</h3>
			<p class="sample-text">
				Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
				or short
				film to show off their creative prowess. Many have great ideas and want to “wow”
				the<sup>Superscript</sup> scene,
				or video renters with their big project. But once you have the<sub>Subscript</sub> “in the can” (no easy
				feat), how
				do you move from a <del>Strike</del> through of master DVDs with the <u>“Underline”</u> marked
				hand-written title
				inside a secondhand CD case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC
				barcodes
				and polywrap sitting on your doorstep? You need to create eye-popping artwork and have your project
				replicated.
				Using a reputable full service DVD Replication company like PacificDisc, Inc. to partner with is
				certainly a
				helpful option to ensure a professional end result, but to help with your DVD replication project, here
				are 4 easy
				steps to follow for good DVD replication results:

			</p>
		</div>
	</section>
	<!-- End Sample Area -->
	<!-- Start Button -->
	
	<!-- End Button -->
	<!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<h3 class="mb-30">Left Aligned</h3>
				<div class="row">
					<div class="col-md-3">
						<img src="/static/assets/img/elements/d.jpg" alt="" class="img-fluid">
					</div>
					<div class="col-md-9 mt-sm-20">
						<p>Recently, the US Federal government banned online casinos from operating in America by making
							it illegal to
							transfer money to them through any US bank or payment system. As a result of this law, most
							of the popular
							online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
							online casino
							players found themselves being chased by the Federal government. But, after a fortnight, the
							online casino
							industry came up with a solution and new online casinos started taking root. These began to
							operate under a
							different business umbrella, and by doing that, rendered the transfer of money to and from
							them legal. A major
							part of this was enlisting electronic banking systems that would accept this new
							clarification and start doing
							business with me. Listed in this article are the electronic banking systems that accept
							players from the United
							States that wish to play in online casinos.</p>
					</div>
				</div>
			</div>
			<div class="section-top-border text-right">
				<h3 class="mb-30">Right Aligned</h3>
				<div class="row">
					<div class="col-md-9">
						<p class="text-right">Over time, even the most sophisticated, memory packed computer can begin
							to run slow if we
							don’t do something to prevent it. The reason why has less to do with how computers are made
							and how they age and
							more to do with the way we use them. You see, all of the daily tasks that we do on our PC
							from running programs
							to downloading and deleting software can make our computer sluggish. To keep this from
							happening, you need to
							understand the reasons why your PC is getting slower and do something to keep your PC
							running at its best. You
							can do this through regular maintenance and PC performance optimization programs</p>
						<p class="text-right">Before we discuss all of the things that could be affecting your PC’s
							performance, let’s
							talk a little about what symptoms</p>
					</div>
					<div class="col-md-3">
						<img src="/static/assets/img/elements/d.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="section-top-border">
				<h3 class="mb-30">Definition</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">Definition 01</h4>
							<p>Recently, the US Federal government banned online casinos from operating in America by
								making it illegal to
								transfer money to them through any US bank or payment system. As a result of this law,
								most of the popular
								online casino networks</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">Definition 02</h4>
							<p>Recently, the US Federal government banned online casinos from operating in America by
								making it illegal to
								transfer money to them through any US bank or payment system. As a result of this law,
								most of the popular
								online casino networks</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="single-defination">
							<h4 class="mb-20">Definition 03</h4>
							<p>Recently, the US Federal government banned online casinos from operating in America by
								making it illegal to
								transfer money to them through any US bank or payment system. As a result of this law,
								most of the popular
								online casino networks</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section-top-border">
				<h3 class="mb-30">Block Quotes</h3>
				<div class="row">
					<div class="col-lg-12">
						<blockquote class="generic-blockquote">
							“Recently, the US Federal government banned online casinos from operating in America by
							making it illegal to
							transfer money to them through any US bank or payment system. As a result of this law, most
							of the popular
							online casino networks such as Party Gaming and PlayTech left the United States. Overnight,
							online casino
							players found themselves being chased by the Federal government. But, after a fortnight, the
							online casino
							industry came up with a solution and new online casinos started taking root. These began to
							operate under a
							different business umbrella, and by doing that, rendered the transfer of money to and from
							them legal. A major
							part of this was enlisting electronic banking systems that would accept this new
							clarification and start doing
							business with me. Listed in this article are the electronic banking”
						</blockquote>
					</div>
				</div>
			</div>
			<div class="section-top-border">
				<h3 class="mb-30">Table</h3>
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
							<div class="serial">#</div>
							<div class="country">Countries</div>
							<div class="visit">Visits</div>
							<div class="percentage">Percentages</div>
						</div>
						<div class="table-row">
							<div class="serial">01</div>
							<div class="country"> <img src="/static/assets/img/elements/f1.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-1" role="progressbar" style="width: 80%"
										aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">02</div>
							<div class="country"> <img src="/static/assets/img/elements/f2.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-2" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">03</div>
							<div class="country"> <img src="/static/assets/img/elements/f3.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-3" role="progressbar" style="width: 55%"
										aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">04</div>
							<div class="country"> <img src="/static/assets/img/elements/f4.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-4" role="progressbar" style="width: 60%"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">05</div>
							<div class="country"> <img src="/static/assets/img/elements/f5.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-5" role="progressbar" style="width: 40%"
										aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">06</div>
							<div class="country"> <img src="/static/assets/img/elements/f6.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-6" role="progressbar" style="width: 70%"
										aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">07</div>
							<div class="country"> <img src="/static/assets/img/elements/f7.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-7" role="progressbar" style="width: 30%"
										aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
						<div class="table-row">
							<div class="serial">08</div>
							<div class="country"> <img src="/static/assets/img/elements/f8.jpg" alt="flag">Canada</div>
							<div class="visit">645032</div>
							<div class="percentage">
								<div class="progress">
									<div class="progress-bar color-8" role="progressbar" style="width: 60%"
										aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<!-- End Align Area -->
	<footer>
		<!-- Footer Start-->
		<div class="footer-area footer-bg footer-padding">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
					   <div class="single-footer-caption mb-50">
						 <div class="single-footer-caption mb-30">
							 <div class="footer-tittle">
								 <h4>About Us</h4>
								 <div class="footer-pera">
									 <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so behold.</p>
								</div>
							 </div>
						 </div>
  
					   </div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Contact Info</h4>
								<ul>
									<li>
									<p>Address :Your address goes
										here, your demo address.</p>
									</li>
									<li><a href="#">Phone : +8880 44338899</a></li>
									<li><a href="#">Email : info@colorlib.com</a></li>
								</ul>
							</div>
  
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Important Link</h4>
								<ul>
									<li><a href="#"> View Project</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Testimonial</a></li>
									<li><a href="#">Proparties</a></li>
									<li><a href="#">Support</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Newsletter</h4>
								<div class="footer-pera footer-pera2">
								 <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
							 </div>
							 <!-- Form -->
							 <div class="footer-form" >
								 <div id="mc_embed_signup">
									 <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
									 method="get" class="subscribe_form relative mail_part">
										 <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
										 class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
										 onblur="this.placeholder = ' Email Address '">
										 <div class="form-icon">
											 <button type="submit" name="submit" id="newsletter-submit"
											 class="email_icon newsletter-submit button-contactForm"><img src="/static/assets/img/icon/form.png" alt=""></button>
										 </div>
										 <div class="mt-10 info"></div>
									 </form>
								 </div>
							 </div>
							</div>
						</div>
					</div>
				</div>
			   <!--  -->
			   <div class="row footer-wejed justify-content-between">
					   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
						  <!-- logo -->
						  <div class="footer-logo mb-20">
							<a href="/"><img src="/static/assets/img/logo/logo2_footer.png" alt=""></a>
						  </div>
					   </div>
					   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
						<div class="footer-tittle-bottom">
							<span>5000+</span>
							<p>Talented Hunter</p>
						</div>
					   </div>
					   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
							<div class="footer-tittle-bottom">
								<span>451</span>
								<p>Talented Hunter</p>
							</div>
					   </div>
					   <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
							<!-- Footer Bottom Tittle -->
							<div class="footer-tittle-bottom">
								<span>568</span>
								<p>Talented Hunter</p>
							</div>
					   </div>
			   </div>
			</div>
		</div>
		<!-- footer-bottom area -->
		<div class="footer-bottom-area footer-bg">
			<div class="container">
				<div class="footer-border">
					 <div class="row d-flex justify-content-between align-items-center">
						 <div class="col-xl-10 col-lg-10 ">
							 <div class="footer-copy-right">
								 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
							 </div>
						 </div>
						 <div class="col-xl-2 col-lg-2">
							 <div class="footer-social f-right">
								 <a href="https://www.facebook.com/yourpage" target="_blank">
    <i class="fab fa-facebook-f"></i>
</a>

<a href="https://twitter.com/yourprofile" target="_blank">
    <i class="fab fa-twitter"></i>
</a>

<a href="https://yourwebsite.com" target="_blank">
    <i class="fas fa-globe"></i>
</a>

<a href="https://www.behance.net/yourprofile" target="_blank">
    <i class="fab fa-behance"></i>
</a>
							 </div>
						 </div>
					 </div>
				</div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>
	
<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="/static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="/static/assets/js/owl.carousel.min.js"></script>
		<script src="/static/assets/js/slick.min.js"></script>
		<script src="/static/assets/js/price_rangs.js"></script>
		
		<!-- One Page, Animated-HeadLin -->
        <script src="/static/assets/js/wow.min.js"></script>
		<script src="/static/assets/js/animated.headline.js"></script>
		<script src="/static/assets/js/jquery.magnific-popup.js"></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/static/assets/js/jquery.nice-select.min.js"></script>
		<script src="/static/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="/static/assets/js/contact.js"></script>
        <script src="/static/assets/js/jquery.form.js"></script>
        <script src="/static/assets/js/jquery.validate.min.js"></script>
        <script src="/static/assets/js/mail-script.js"></script>
        <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="/static/assets/js/plugins.js"></script>
        <script src="/static/assets/js/main.js"></script>
    
</body>
</html>